
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: #fff;
}

.sec1{
    background-color: black;
    height: 100vh;
}


nav{
    display: flex;
    justify-content: space-between;
    
}

.navName h1{
    color: #fff;
    font-size: 42px;
    padding: 12px;
    padding-left: 100%;
}

.navName span{
    color: rgb(226, 35, 67);
}

.navContent{
    padding-right: 10%;
    padding-top: 20px;
}

.navContent ul{
    color: #fff;
    font-size: 16px;
    display: flex;
    list-style: none;
    margin-top: 10px;
    gap: 60px;
}

.navContent li{
    position: relative;
    cursor: pointer;
}



.navContent li:hover::after{
    content: " ";
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    background-color: rgb(226, 35, 67);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: move 1s ease-in-out;
    
}

@keyframes move{

    from{
        max-width: 0;
    }

    to{
        max-width: 200px;
    }

}

.mainsec1{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding: 48px;
    line-height: 70px;
    padding-left: 10%;
}

.mainCont h1{
    color: #fff;
    font-size: 5rem;
}

.mainCont p{
    color: #fff;
    font-size: 3rem;
}

.mainCont span{
    color: rgb(226, 35, 67);
}

.mainimg img{
    margin-top:-20%;
}

.sec2{
    background-color: black;
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-top: 10%;
} 

.sec2img{
    width: 400px;
}

.sec2img img{
    height: 500px;
    width: 100%;
    border-radius: 20px;
    object-fit: contain;

}

.sec2cont{
    color: white;
    width: 700px;

}

.sec2cont h1{
    font-size: 60px;
}

.sec2cont:nth-child(2){
    font-weight: 200;
}

.sec2cont p{
    text-align: justify;
}

.tab-titles{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-top: 20px;
    font-weight: 500;
}

.tab-links{
    position: relative;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: " ";
    width: 0;
    position: absolute;
    background-color: rgb(226, 35, 67);
    height: 3px;
    transition: 0.5s;
    bottom: -8px;
    left: 0;

}

.tab-links.active-link::after{
    width: 50%;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
#skills ul li div{
    width: 50px;
    height: 60px;
}

#skills ul li img{
    width: 100%;
    object-fit: fill;
}

.tab-contents{
    padding-top: 20px;
    display: none;
}
.tab-contents span{
    color: rgb(226, 35, 67);
    font-weight: bold;
}

.tab-contents ul li{
    list-style-type: none;
    padding: 10px;
}

.active-tab{
    display: block;
}

a{
    color: #fff;
    text-decoration: none;
}

.services{
    background-color: black;
    padding: 20px;
    padding-bottom: 80px;
    margin-top: 90px;
    width: 100%;
}

.services .service-h1{
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 60px;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    width: 100%;
}

.service-content{
    color: white;
    width: 100%;
    max-width: 400px;
    height: 350px;
    background-color: #333;
    border-radius: 10px;
    
}

.service-content i{
    font-size: 45px;
    padding: 35px;
}

.service-content h1{
    font-size: 32px;
    padding: 0 35px;
    font-weight: 500;
}

.service-content p{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 300;

}

.service-content a{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 300;

}

.service-content:hover{
    background-color: rgb(226, 35, 67);
    transition: 0.5s ease-in-out;
    transform: translateY(-10px)
}


.mywork{
    background-color: black;
    padding: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.mywork h1{
    color: white;
    font-size: 60px;
    padding: 32px;
}

.work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: 55vh;
    overflow: hidden;
    transition: height 0.3s ease;
    
}



.work img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
    height: 100%;
    object-fit: cover;
}

.work{
    position: relative;
    width: 500px;
    height: auto;
}

.mywork button{
    background-color: black;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ff004f;
    padding: 15px 60px;
    margin-top: 30px;
    font-size: 18px;
    width: 400px;
    margin-left: 40%;
    transition: background-color 0.5s;
}


.work-container img:hover{
    background-color: rgb(226, 35, 67);
}

.layer{
    color: #fff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{

    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
}

.work-container img:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.work:hover .layer{
    height: 100%;
}

.mywork button:hover{
    background-color: #ff004f;
}

.contact{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    padding: 60px;
    gap: 40px;
}

.contact-1{
    width: 100%;
    max-width: 400px;
    line-height: 70px;
    font-size: 16px;
    color: #fff;
}

.contact-1 h3{
    color: #fff;
    font-size: 60px;
    
}

.contact-1 p i{
    padding: 10px;
    color: #ff004f;
    font-size: 20px;
}

.logos {
    display: flex;
    gap: 20px;
    font-size: 28px;
    padding: 10px;
    align-items: center;
    color: #d1cfcf;
}

.logos a:hover{
    color: #868282;
}

.contact-1 button{
    padding: 15px 60px;
    background-color: #ff004f;
    color: #fff;
    border-radius: 10px;
    border: 0;
    outline: 0;
    margin-top: 30px;
    cursor: pointer;


}

.contact-2 form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.contact-2 input{
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #333;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.contact-2 textarea{
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #333;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;

}

.contact-2 button{
    padding: 15px 60px;
    background-color: #ff004f;
    color: #fff;
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-top: 30px;
    width: 180px;
    cursor: pointer;
}

.navContent .fa-solid{
    display: none;
}


@media screen and (max-width:600px) {

    .navName h1{
        padding: 25px;
    }

    .mainCont{
        margin-top: 60px;
    }
    .mainCont p {
        color: #fff;
        font-size: 1.5rem;
    }

    .navContent ul{
        background: #ff004f;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        position: fixed;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        z-index: 2;
        transition: right 0.5s;

    }

    .sec1{
        background-image: none;
        
    }

    .navContent .fa-solid{
        display: block;
        font-size: 25px;
        

    }

    .navContent ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .fa-bars{

        margin-top: 25px;
        position: absolute;

        

    }

    .sec2{
        flex-direction: column;
    }


    .sec2cont{
        padding: 40px;
        width: 100%;
    }

    .services .service-h1{

        font-size: 2.5rem;
        text-align: left;

    }

    .service-container{
        flex-direction: column;
        
    }

    .service-content{
        height: AUTO;
        width: 100%;
        padding-bottom: 40px;
    }

    .mywork {
        background-color: black;
        padding: 60px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mywork h1{
        font-size: 3rem;
       
    }


    .contact{
        flex-direction: column;

    }
    .mywork button {
        background-color: black;
        color: #fff;
        border-radius: 5px;
        border: 1px solid #ff004f;
        padding: 10px 20px;
        margin-top: 30px;
        transition: background-color 0.5s;
        font-size: 12px;
        text-align: center;
        width: 100px;
        margin-left: 30%;
    }


  


    .contact {
        display: flex;
        justify-content: center;
        background-color: black;
        margin-top: 50px;
        padding: 40px;
        gap: 40px;
    }

    .mainCont h1 {
        color: #fff;
        font-size: 3rem;
    }

    



    


    
}

@media screen and (max-width:768px) {

    .work-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        height: 50vh;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .work{
        width: 100%;
        height: auto;

        
    }

    .work img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .layer {
        width: 100%;
        
    }

    .sec2img{
        width: 400px;
        display: grid;
        place-items: center;
        padding:0px 30px;
    }

    .sec2img img{
        width: 100%;

    }
    
    .about-me{
        font-size: 12px;
        text-align: left;
        
    }

    .sec2cont p{
        text-align:justify;
    }



    
    
}


#msg{
    color: green;
    margin-top:-10px
}
